.taskboard {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* max-height: 70vh; */
  /* overflow-y: auto; */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.task__form {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 50px 20px;
}
.task__input {
  width: 50vw;
  padding: 10px 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  font-weight: 300;
  /* border-radius: 20px; */
}
.button__submit {
  padding: 10px 15px;
  margin: 0 10px;
  transition: 0.5s ease-in-out;
}
.boards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}
.task__list {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.task__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 40vw;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;

  background-color: #efefef;

  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.task__item:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
}
.task__title {
  /* white-space: nowrap; */
  line-height: 22px;
/* text-align: left; */
  margin: 0 10px;
}
.task__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.button__remove {
  padding: 5px 10px;
  margin: 0;
}
