<section class="form__section">
  <h2 class="form__title">User Login</h2>

  <form class="form form__signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label class="form__label" for="login">Login</label>
    <input class="form__input" id="login" type="text" name="login" formControlName="login">

    <label class="form__label" for="password">Password</label>
    <input class="form__input" id="password" type="password" name="password" formControlName="password" minlength="3">

    <button class="button button__submit" type="submit">Submit</button>

  </form>
</section>
