<section class="form__section">
  <h2 class="form__title">User Login</h2>

  <form class="form form__signin" [formGroup]="form">

    <label class="form__label" for="login">Login</label>
    <input class="form__input validate" id="login" type="text" name="Login" formControlName="login" required>

    <label class="form__label" for="password">Password</label>
    <input class="form__input validate" id="password" type="password" name="Password" formControlName="password" required minlength="3">

    <button class="button button__submit" type="submit"  (click)="submit()">Submit</button>

  </form>
</section>
