.footer {
  width: 100%;
  height: 100px;
  background: var(--color-dark);
}
.footer__inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__link {
  margin: 10px 20px;
}
.rs__logo {
  width: 75px;
}
.rs__logo svg path{
  fill: var(--color-dark-l);
}
.rs__logo:hover svg path{
  fill: var(--color-light-aqua);
}