<div class="boards">
  <div class="board__todo">
    <h2 class="board__title">Tasks todo</h2>
    <ul class="task__list todo" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="tasksList | tasksFilter: false">
      <app-taskitem class="taskitem__component"
        *ngFor="let task of tasksList | tasksFilter: false"
        [task]="task"
        (setTaskStatus)="onSetTaskStatus(task)"
        (rmTask)="onRemoveTaskItem(task.id)" cdkDrag>
      </app-taskitem>
    </ul>
  </div>
  <div class="board__todo">
    <h2 class="board__title">Tasks completed</h2>
    <ul class="task__list todo" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="tasksList | tasksFilter: true">
      <app-taskitem class="taskitem__component" *ngFor="let task of tasksList | tasksFilter: true" [task]="task"
        (setTaskStatus)="onSetTaskStatus(task)" (rmTask)="onRemoveTaskItem(task.id)" cdkDrag>
      </app-taskitem>
    </ul>
  </div>
</div>
