<!-- <main class="main"> -->
  <section class="mainframe container">
    <h1 class="mainframe__title">One simple to do list for<br> you <span class="text__light">and</span> your team</h1>
    <p class="text__basic">Almost one man organize his own tasks, lists and manage self projects with <span
        class="logo__text">Remember<span class="text__light">Me</span></span>&copy;</p>
    <button class="button colored__button" (click)="onClick()">Try before buy &#10150;</button>
    <p class="text__description">Free Forever. No credit card.</p>
  </section>

  <section class="features" id="features">
    <div class="features__inner container">
      <h2 class="section__title">Our Features</h2>
      <div class="features__list">
        <div class="feature__item">
          <div class="feature__item-image">
            <img class="picture" src="../../../assets/images/easy-to-use.svg" alt="easy to use">
          </div>
          <h3 class="feature__item-title">Easy To Use</h3>
          <p class="feature__item-text text__basic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
            sit.</p>
        </div>
        <div class="feature__item">
          <div class="feature__item-image">
            <img class="picture" src="../../../assets/images/manage-view.svg" alt="manage view">
          </div>
          <h3 class="feature__item-title">Manage View</h3>
          <p class="feature__item-text text__basic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
            sit.</p>
        </div>
        <div class="feature__item">
          <div class="feature__item-image">
            <img class="picture" src="../../../assets/images/remote-ready.svg" alt="remote ready">
          </div>
          <h3 class="feature__item-title">Remote Ready</h3>
          <p class="feature__item-text text__basic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
            sit.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="creator" id="creator">
    <div class="creator__inner container">
      <div class="creator__image">
        <img class="picture" src="../../../assets/images/creator1.png" alt="">
      </div>
      <div class="creator__content">
        <h2 class="section__title">Powerfully productive</h2>
        <div class="creator__phrase text__basic">
          <span class="logo__text">Remember<span class="text__light">Me</span></span>&copy; is powerful task management
          software for busy professionals.<p> With tools to help tame the chaos, you
            can focus on the right tasks at the right time.</p>
        </div>
        <div class="creator__moto">
          <h3 class="moto__title">Keep track of everything</h3>
          <div class="creator__sign"><img src="../../../assets/images/sign.png" alt="creator sign"></div>
        </div>
      </div>
    </div>
  </section>

<!-- </main> -->
